body{
	background:black;
	background:ur1(icon.jpeg);
	background-reapet:no-repeat;
	background:center;
	background-position:center;
	background-attachment:fixed;
} 
h1{
	color:aqua;
} 
p{
	color:pink;
} 
hr {
	color:yellow;
} 
div {
	font-size:20px;
} 
p.parrafo 2{
	color:aqua;
} 
	 
